<table cellpadding='10'>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Salary</th>
    <th>Net Pay</th>
  </tr>
    <% @employees.each do |employee| %>
    <% employee.commission_calculator %>
    <% employee.met_quota? if employee.class.to_s.include?('Quota') %>
    <tr>
      <td>
      <% if employee.class.to_s == 'Owner'%>
        <p style= "color:red; font-size:4em"><strong>  <%= employee.first_name %> <%= employee.last_name %></strong>
      <% elsif employee.class.to_s.downcase.include?('salesperson') %>
        <p style="color:green; font"><strong>  <%= employee.first_name %> <%= employee.last_name %></strong>
      <% else %>
        <p><%= employee.first_name %> <%= employee.last_name %>
      <% end %>
      </p>
    </td>
      <td><%= employee.class.to_s.scan(/[A-Z][a-z]+/).join(" ") %></td>
      <td><%= employee.salary %></td>
      <td><%= employee.get_net_pay %></td>
    </tr>
    <% end %>

</table>
